certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
DateTime==4.3
decorator==4.4.2
future==0.18.2
idna==2.10
numpy==1.19.1
pandas==1.1.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
PySocks==1.7.1
pyTelegramBotAPI==3.7.2
python-bittrex==0.3.0
python-dateutil==2.8.1
python-telegram-bot==12.8
pytz==2020.1
requests==2.7.0
rsa==4.0
schedule==0.6.0
six==1.15.0
Telethon==1.10.10
tornado==6.0.4
urllib3==1.25.9
zope.interface==5.1.0
